
fastapi
uvicorn


pymongo>=4.6
dnspython  # required for mongodb+srv:// URLs


langchain
langchain-core
langchain-community
langchain-google-genai
google-generativeai
sentence-transformers
faiss-cpu
pandas
numpy
joblib
